<div class="utility-bar">
  <div class="wrap">
    <span class="lang">EN</span>
    <div class="actions">
      <a class="search-link" href="#">Search</a>
      <a class="btn" href="/report/">Report an Incident/Hazard</a>
    </div>
  </div>
</div>
